<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet"  href="/static/css/style.css" type="text/css">

  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Satish || Subedi</title>

  
    </head>
</head>

    <body>
        <!-- Navbar Section -->
        <section id="header">
            <div class="header containers">
            <div class="nav-bar">
                <div class="brand">
                <a href="/satish" style="text-decoration: none;"><h1><span>S</span>atish <span>S</span>ubedi</h1></a>
                </div>
                <div class="nav-list">
                <div class="hamburger"><div class="bar"></div></div>
                <ul>
                    <li><a href="/satish" data-after="Home">Home</a></li>
                    <li><a href="#" data-after="About">About</a></li>
                    <li><a href="/projects" data-after="Contact">Projects</a></li>
                    <li><a href="/contact" data-after="Contact">Contact</a></li>
                    <li><a href="/blog" data-after="Blog">Blog</a></li>
                    {%if user.is_authenticated%}
                    <li><a href="/logout" data-after="Blog">Logout</a></li>
                    {%else%}
                    <li><a href="/login" data-after="Blog">Login</a></li>
                    {%endif%}

                </ul>
                </div>
            </div>
            </div>
    </section>
    <!-- End of Navbar Section -->

    {% block main %}
    
    
    <!-- Start Hero Section -->
    <header class="hero">
      <div class="section-center hero-center">
        <article class="hero-info">
          <div class="underline"></div>
          <h1>i'm Satish</h1>
          <h4>Software Engineer & AI/ML Enthusist</h4>
          <a href="contact.html" class="btn hero-btn">hire me</a>
          <!-- social icons -->
          <ul class="social-icons hero-icons">
            <li>
              <a href="https://www.twitter.com" class="social-icon">
                <i class="fa fa-facebook"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com" class="social-icon">
                <i class="fa fa-linkedin"></i>
              </a>
            </li>
      
            <li>
              <a href="https://www.twitter.com" class="social-icon">
                <i class="fa fa-behance"></i>
              </a>
            </li>
            <li>
              <a href="https://www.twitter.com" class="social-icon">
                <i class="fa fa-instagram"></i>
              </a>
            </li>
          </ul>
        </article>
        <article class="hero-img">
          <img src="/static/img/hero-img.jpeg" class="hero-photo" alt="john doe" />
        </article>
      </div>
    </header>
    <!-- End of the Hero Section -->


     <!-- about page -->
    <section class="section single-page">
      <div class="section-title">
        <h1>about me</h1>
        <div class="underline"></div>
      </div>
      
      <div class="section-center page-info">
        <p>
          Hello, I am Satish Subedi and I am a Software Engineer. I live and work in
          Nepal. I spend most of my day, learning different technologies. I enjoy coding
          and the challenge of learning something new everyday.
          <a href="about/" style="color:crimson;text-decoration:none">know more</a>
        </p>
      </div>
 
    </section>
    <!-- end of about page -->
{% endblock main %}
    

  {% block services %}
    <!-- Service Section -->
    <section class="services">
  			<div class="container">
  				<div class="row">
  					<div class="section-title text-center">
  						<h1>SERVICES</h1>
              <div class="underline"></div>
  					</div>
  				</div>
  				<div class="row">
  					<div class="service-content">
  							<div class="box">
  								<div class="icon">
  									<i class="fa fa-code"></i>
  								</div>
  								<h5>Web Development</h5>
  								<p>Frontend and Backend with technologies like Django, React</p>
  							</div>
  							<div class="box">
  								<div class="icon">
  									<i class="fa fa-tv"></i>
  								</div>
  								<h5>UX/UI Design</h5>
  								<p>Search engine optimization, Social media marketing, Bloging</p>
  							</div>
  							<div class="box">
  								<div class="icon">
  									<i class="fa fa-laptop"></i>
  								</div>
  								<h5>Data Analysist</h5>
  								<p>Provide Hosting with effective services with very low price  </p>
  							</div>
  					</div>
  				</div>
  			</div>
  		</section>
    <!-- End of Service Sectin -->


<!-- Blog Section -->
<!--Start Blog-->
  <section class="blogs">
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <h1>Latest Blogs</h1>
          <div class="underline"></div>
        </div>
      </div>
      <div class="row">
        <div class="blogs-content">

      
          <div class="box">
            <div class="img">
              <img src="/static/img/hero-img.jpeg">
            </div>
            <div class="info">
              <span>2022-06-11</span> <span> by satish</span>
            </div>
            <h3>hello world</h3>
            <p> sajkhdfkljashdfkjh kljdhflkjasdhklf lkasjdhfkjsahdlkfjh lkasjhdflkj kljhdsklfjh</p>
            <a href="/blog/{{item.slug}}">Read More</a>
          </div>


          <div class="box">
            <div class="img">
              <img src="/static/img/hero-img.jpeg">
            </div>
            <div class="info">
              <span>2022-06-11</span> <span> by satish</span>
            </div>
            <h3>hello world</h3>
            <p> sajkhdfkljashdfkjh kljdhflkjasdhklf lkasjdhfkjsahdlkfjh lkasjhdflkj kljhdsklfjh</p>
            <a href="/blog/{{item.slug}}">Read More</a>
          </div>



          <div class="box">
            <div class="img">
              <img src="/static/img/hero-img.jpeg">
            </div>
            <div class="info">
              <span>2022-06-11</span> <span> by satish</span>
            </div>
            <h3>hello world</h3>
            <p> sajkhdfkljashdfkjh kljdhflkjasdhklf lkasjdhfkjsahdlkfjh lkasjhdflkj kljhdsklfjh</p>
            <a href="/blog/{{item.slug}}">Read More</a>
          </div>
   

        </div>
      </div>
     <div class="section-title text-center mt-5">
      <a href="contact.html" class="btn hero-btn">more</a>
      </div>
    </div>
    </div>
   
    </section>
<!-- End of Blog Section -->


<!-- video contact section -->
<section class="connect">
      <video
        controls
        autoplay
        muted
        loop
        class="video-container"
        poster="./images/project-1.jpeg"
      >
        <source src="/static/video/connect.mp4" type="video/mp4" />
        Sorry, your browser does not support embedded videos
      </video>
      <div class="video-banner">
        <!-- section title -->
        <div class="section-title">
          <h2>let's get in touch</h2>
          <div class="underline"></div>
        </div>
        <!--end of section title -->
        <p class="video-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni ratione
          perferendis exercitationem sit. Beatae eius commodi officiis rem
          soluta ratione dignissimos quisquam tempore laudantium, porro vitae
          cupiditate dicta magni quas corrupti aperiam, rerum minus odio totam
          repellendus delectus nostrum veniam!
        </p>
        <a href="/contact" class="btn">contact me</a>
      </div>
    </section>
<!-- end of video contact section -->


 {% endblock services %}

    <!-- Footer Section -->
    <section id="footer">
    <div class="footer-container">
      <div class="brand"><h1><span>F</span>ollow <span>M</span>e <span>O</span>n</h1></div>
      <div class="social-icon">
        <div class="social-item">
           <a href="https://www.facebook.com/profile.php?id=100013567849262" target="_blank"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="social-item">
          <a href=""><i class="fa fa-instagram" target="_blank"></i></a>
        </div>
        <div class="social-item">
          <a href="http://linkedin.com/in/satish-subedi-033466189" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="social-item">
          <a href=""><i class="fa fa-twitter" target="_blank"></i></a>
        </div>
        <div class="social-item">
          <a href=""><i class="fa fa-github" target="_blank"></i></a>
        </div>
      </div>
      <p>Copyright © 2020 Satish. All rights reserved</p>
    </div>
  </section>
  <!-- End of Footer Section -->

<script src="/static/js/index.js"></script>  


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>