{% extends "satish/base.html" %} 

{% block main %}
<!-- Contact form -->
<form action="/contact" method="post">
  {% csrf_token %}
  <section class="contact-us">
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <h1>get in touch</h1>
          <div class="underline"></div>
        </div>
      </div>
      <div class="row">
        <div class="contact-form">
          <div class="row">
            <div class="text" style="padding-bottom: 20px">
              <h2 style="margin-left: 1rem">Connecting with me</h2>
              <p style="margin-left: 1rem">
                I am here to answer any Question you may have
              </p>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <input
                type="name"
                id="name"
                name="name"
                class="form-control"
                placeholder="Full Name*"
                required
              />
            </div>
            <div class="col-6">
              <input
                type="email"
                id="email"
                name="email"
                class="form-control"
                placeholder="Email*"
                required
              />
            </div>
          </div>
          <div class="row">
            <div class="col-12">
              <textarea
                type="text"
                id="desc"
                name="desc"
                class="form-control"
                placeholder="Your Comment*"
                required
              ></textarea>
            </div>
          </div>
          {%if user.is_authenticated%}
          <div class="row">
            <div class="button">
              <button style="margin-left: 1rem" class="btn">submit</button>
            </div>
          </div>
        {%else%}
          <div class="row">
            <div class="button">
              <button style="margin-left: 1rem" class="btn" disabled>
                Login to submit
              </button>
            </div>
          </div>
          {%endif%}
        </div>
      </div>
    </div>
  </section>
</form>
<!-- End of contact form -->
{% block services  %}
{% endblock services %}
{% endblock main %}