{% extends "satish/base.html" %} 

{% block main %}

<!-- Project Section -->
    <header class="projects-hero">
      <div class="section-title">
        <h1>my projects</h1>
        <div class="underline"></div>
      </div>
    </header>
    <section class="section">
      <div class="section-center projects-page-center">
        <!-- single project -->
        <article class="single-project">
          <div class="project-container">
            <img src="/static/img/project-1.jpeg" alt="single project" />
            <a href="#" class="project-icon" style="text-decoration:none; background-color:crimson; color:#0c0c17;">
              <i class="fa fa-home"></i>
            </a>
          </div>
          <div class="project-details">
            <h4>project name</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
              eveniet amet odit aperiam, provident cum possimus sapiente minus
              quos! Ipsum?
            </p>
            <div class="project-footer">
              <span>
                <i class="fa fa-github"></i>
              </span>
              <a href="https://www.github.com">source code</a>
            </div>
          </div>
        </article>
        <!-- end of single project -->

        <!-- single project -->
        <article class="single-project">
          <div class="project-container">
            <img src="/static/img/project-1.jpeg" alt="single project" />
            <a href="#" class="project-icon" style="text-decoration:none; background-color:crimson; color:#0c0c17;">
              <i class="fa fa-home"></i>
            </a>
          </div>
          <div class="project-details">
            <h4>project name</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
              eveniet amet odit aperiam, provident cum possimus sapiente minus
              quos! Ipsum?
            </p>
            <div class="project-footer">
              <span>
                <i class="fa fa-github"></i>
              </span>
              <a href="https://www.github.com">source code</a>
            </div>
          </div>
        </article>

        <!-- end of single project -->
       <!-- single project -->
        <article class="single-project">
          <div class="project-container">
            <img src="/static/img/project-1.jpeg" alt="single project" />
            <a href="#" class="project-icon" style="text-decoration:none; background-color:crimson; color:#0c0c17;">
              <i class="fa fa-home"></i>
            </a>
          </div>
          <div class="project-details">
            <h4>project name</h4>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum
              eveniet amet odit aperiam, provident cum possimus sapiente minus
              quos! Ipsum?
            </p>
            <div class="project-footer">
              <span>
                <i class="fa fa-github"></i>
              </span>
              <a href="https://www.github.com">source code</a>
            </div>
          </div>
        </article>
        <!-- end of single project -->
      </div>
    </section>
    <!-- End of Project Section -->
{% block services %}
{% endblock services %}
{% endblock main %}
    
