<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900&display=swap">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet"  href="/static/css/style.css" type="text/css">

  <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Satish || Subedi</title>
<style >
    .jumbotron {
    background-image: url(/static/img/blogs.jpg);
    background-size: cover;
    background-position: top center;
    position: relative;
    z-index: 1;
    padding: 10rem 1rem;
    margin-bottom: 0;
    border-radius: .3rem;
}
.jumbotron h1{
  margin-top: 3rem;
  color: crimson;
  font-weight: 300;
}
.jumbotron  p{
  color: #ffffff;
  font-weight: 500;
  margin-top: 1rem;
}
.jumbotron .btn{
  text-transform: uppercase;
  display: inline-block;
  padding: 10px 30px;
  position: relative;
  color: white;
  background-color: transparent;
  border: 2px solid crimson;
  letter-spacing: .1rem;
  margin-top: 20px;
  transition: .5s ease;
  transition-property: background-color, color;
}
.jumbotron .btn:hover{
  color: white;
  background-color: crimson;
}
.jpt{
  font-size: 2px;
}

</style>

  
</head>
</head>


  <body>
  {% block not-all %}
    <section id="header">
    <div class="header containers">
      <div class="nav-bar">
        <div class="brand">
          <a href="/satish" style="text-decoration: none;"><h1><span>S</span>atish <span>S</span>ubedi</h1></a>
        </div>
        <div class="nav-list">
          <div class="hamburger"><div class="bar"></div></div>
          <ul>
            <li><a href="/satish" data-after="Home">Home</a></li>
            <li><a href="/about" data-after="About">About</a></li>
            <li><a href="/projects" data-after="Contact">Projects</a></li>
            <li><a href="/contact" data-after="Contact">Contact</a></li>
            <li><a href="/blog" data-after="Blog">Blog</a></li>
            {%if user.is_authenticated%}
            <li><a href="/logout" data-after="Blog">Logout</a></li>
            {%else%}
            <li><a href="/login" data-after="Blog">Login</a></li>
            {%endif%}
          </ul>

        </div>
      </div>
    </div>
  </section>

<!-- Main jumbotron for a primary marketing message or call to action -->
  <section>
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hot Blogs & Articles</h1>
      <p> Welcome to the Blog Section here you can find the latest articles and blogs and figure out what is happening in the world right now </p>
      <div class="item-center">
      <a class="btn btn-warning" href="#" role="button">Browse Blogs</a>
     </div>
    </div>
  </div>
</section>
<!--Start Blog-->
  <section class="blogs">
    <div class="container">
      <div class="row">
        <div class="section-title text-center">
          <h1>Latest Blogs</h1>
          <div class="underline"></div>
        </div>
      </div> 
      <div class="row">
        <div class="blogs-content">

         {% for posts in myposts  %}
      
          <div class="box">
            <div class="img">
              <img src="{{posts.Thumbnail.url}}">
            </div>
            <div class="info">
              <span>{{posts.timestamp}}</span> <span> {{posts.auther}}</span>
            </div>
            <h3 style="font-size:20px;letter-spacing:none !important;">{{posts.title}}</h3>
            <p> {{posts.content|safe|truncatechars:80 }}</p>
            <a href="/blog/blogpost/{{posts.slug}}">Read More</a>
          </div>

        {% endfor %}


        </div>
      </div>
    </div>
    </div>
    <nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center" style="font-size: 20px; font-weight: 400; margin-top: 2rem; align-items: center;">
      {% if myposts.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ myposts.previous_page_number }}" tabindex="-1" aria-label="Previous">
          <span aria-hidden="true">&laquo;</span>
        </a>
      </li>
      {% endif %}
      <li class="page-item"><a class="page-link" href="#">{{myposts.number}}</a></li>
      {% if myposts.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ myposts.next_page_number }}" aria-label="Next">
          <span aria-hidden="true">&raquo;</span>
        </a>
      </li>
      {% endif %}
    </ul>
  </nav>
    </section>


    <section id="footer">
    <div class="footer-container">
      <div class="brand"><h1><span>F</span>ollow <span>M</span>e <span>O</span>n</h1></div>
      <div class="social-icon">
        <div class="social-item">
           <a href="https://www.facebook.com/profile.php?id=100013567849262" target="_blank"><i class="fa fa-facebook"></i></a>
        </div>
        <div class="social-item">
          <a href=""><i class="fa fa-instagram" target="_blank"></i></a>
        </div>
        <div class="social-item">
          <a href="http://linkedin.com/in/satish-subedi-033466189" target="_blank"><i class="fa fa-linkedin"></i></a>
        </div>
        <div class="social-item">
          <a href=""><i class="fa fa-twitter" target="_blank"></i></a>
        </div>
        <div class="social-item">
          <a href=""><i class="fa fa-github" target="_blank"></i></a>
        </div>
      </div>
      <p>Copyright © 2020 Satish. All rights reserved</p>
    </div>
  </section>


{% endblock not-all %}
  <script src="/static/js/index.js"></script> 


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>