{% extends "blog/base.html" %}

{% load humanize %}
{% load extra %}
{% block not-all %}
<style>
.containers{
  background-color: #FCF6F5FF; 

  font-size: 15px;
  font-weight: 600;
  color: #838383;
  align-items:center;
  justify-content:center;
}
      </style>


<!-- Begin page content -->


  <div class="container containers my-3">
    <h1 class="bog-post-title">{{post.title}}</h1>
     <p class="blog-post-meta">{{post.timestamp}} by <a href="">{{post.auther}}</a> </p>
     <p style="font-size: 15px;
      font-weight: 600;
      color: #838383;">{{post.content|safe}}</p>
  </div>


  <div class="container">
  	<h2>Comments ({{comments.count}})</h2>
    <div class="my-2"> 

      {% if user.is_authenticated %}

      <form action="/blog/blogpost/postComment/" method="post">{% csrf_token %}
       <div class="form-group">
          <label>Post Comment</label>
          <input type="text" class="form-control" name="comment" placeholder="comment">
       </div>

        <input type="hidden" name="postSno" value="{{post.sno}}">
         <input type="hidden" name="parentSno" value="">
        <button type="submit" class="btn" style="background-color: crimson;">Submit</button>
      </form>
      
      {% else %}
      <p>Please login to post a comment</p>
      {% endif %}

    </div>

    {% for comment in comments %}

  	<div class="row my-3">
  		<div class="col-md-1 ">
        
      </div>
  		<div class="col-md-11 ">
        <b>{{comment.user.username}}</b>  <span class="badge badge-secondary">{{comment.timestamp | naturaltime}}</span>
        <div>{{comment.comment}}</div> 

        <div class="replay mx-0">
        
      {% if user.is_authenticated %}
 
        <button class="btn btn-sm btn" type="button" data-toggle="collapse" data-target="#replayBox{{comment.sno}}" aria-expanded="false" aria-controls="replayBox{{comment.sno}}" style="background-color: crimson;">
          Reply
        </button>
      
      <div class="collapse" id="replayBox{{comment.sno}}">
        <div class="card card-body my-2">
          <form action="/blog" method="post">{% csrf_token %}
             <div class="form-group">
                <label>Reply Comment</label>
                <input type="text" class="form-control" name="comment" placeholder="Replay">
                <input type="hidden" name="parentSno" value="{{comment.sno}}">
             </div>

              <input type="hidden" name="postSno" value="{{post.sno}}">
              <button type="submit" class="btn" style="background-color: crimson;">Submit</button>
          </form>
          </div>
         </div>
         {% else %}
           <button class="btn btn-sm btn" type="button" data-toggle="collapse" data-target="#replayBox{{comment.sno}}" aria-expanded="false" aria-controls="replayBox{{comment.sno}}" disabled style="background-color: crimson;">
          Login to Replay
        </button>
         {% endif %}

         <div class="replies my-2">
           {% for reply in replyDict|get_val:comment.sno  %}
     
           <div class="row my-2">
            <div class="col-md-1 ">
      
            </div>
            <div class="col-md-11">
              
             
           
            <b>{{reply.user.username}}</b>  <span class="badge badge-secondary">{{reply.timestamp | naturaltime}}</span>
           <div>{{reply.comment}}</div> 


            </div>
           <br>
            </div>
           {% endfor %}
         </div>

        </div>
      </div>
  	</div>
    {% endfor %}

  </div>
{% endblock not-all %}






